#menu-page {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#menu-page .box {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 500px;
	align-items: flex-start;
	justify-content: center;
	padding: 25px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #000;
	background-color: rgba(0, 0, 0, 0.7);
}
#menu-page .box form {
	width: 100%;
	display: inline-flex;
	align-items: center;
}
#menu-page .box input {
	border: none;
	border-radius: 5px;
	font-size: 22px;
	padding: 10px;
	width: 100%;
}
#menu-page .box .icon {
	height: 30px;
	width: 30px;
	margin: 0px -40px;
	color: #780000;
	position: relative;
}
#menu-page .menu-items {
	flex: 1;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow-y: scroll;
}
#menu-page .row {
	background-color: white;
	display: flex;
	overflow-y: scroll;
	width: 100%;
}
#menu-page .cod,
#menu-page .description,
#menu-page .category,
#menu-page .value {
	color: black;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #888;
	text-align: center;
}
#menu-page .cod {
	flex: 0.1;
}
#menu-page .description {
	flex: 0.6;
	text-align: left;
}
#menu-page .category {
	flex: 0.25;
}
#menu-page .value {
	flex: 0.15;
}
#menu-page .header {
	text-align: center;
	font-weight: bold;
}
