#menu {
	margin: 15px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#menu #head {
	display: flex;
	margin-bottom: 15px;
	justify-content: space-between;
}
#menu #head button {
	font: inherit;
	display: flex;
	align-items: center;
	padding: 10px;
	border: 0;
	color: white;
	background-color: #780000;
	font-size: 20px;
}
#menu #head .icon {
	margin-right: 2px;
}
#menu #searchForm {
	width: 100%;
	display: flex;
}
#menu #searchForm input {
	border: none;
	border-radius: 5px 0 0 5px;
	font-size: 22px;
	padding: 10px;
	width: 100%;
}
#menu #searchForm button {
	border-radius: 0px 5px 5px 0px;
}

#menu #btn-new {
	border-radius: 5px;
	margin-left: 15px;
}
#menu .table-overflow {
	height: 100%;
	background-color: white;
	overflow: auto;
	border-radius: 5px;
}
#menu .menu-items {
	width: 100%;
}
#menu .menu-items th {
	position: sticky;
	top: 0;
	background-color: white;
}
#menu table {
	border-spacing: 0;
}
#menu td,
#menu th {
	color: black;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #888;
	text-align: center;
}
