#home-page {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#home-page div.menu {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	height: 450px;
	align-items: center;
	justify-content: space-around;
}
