.description {
	width: 100%;
}
.edit,
.delete {
	cursor: pointer;
	color: black;
}
tr input {
	display: table-cell;
	vertical-align: inherit;
	width: 100%;
}
.row .money-symbol {
	justify-self: left;
}
